$defaultGroup: block;
// 色彩
$color-stack: (
    group: block,
    id: 33,
    color: #333333
  ),
  (
    group: block,
    id: 99,
    color: #999999
  ),
  (
    group: block,
    id: 66,
    color: #666666
  ),
  (
    group: block,
    id: ef,
    color: #e7e6e8
  ),
  (
    group: block,
    id: f6,
    color: #f6f6f6
  ),
  (
    group: white,
    id: ff,
    color: #fff
  ),
  (
    group: prink,
    id: f6,
    color: #f67171
  ),
  (
    group: blur,
    id: f78,
    color: #f78b6b
  ),
  (
    group: blur,
    id: a0b,
    color: #a0bd93
  ),
  (
    group: blur,
    id: ecd,
    color: #ecd2a5
  ),
  (
    group: blur,
    id: e67,
    color: #e67e7e
  ),
  (
    group: blur,
    id: 4d5,
    color: #4d5452
  ),
  (
    group: msg,
    id: ff5,
    color: #ff576d
  ),
  (
    group: search,
    id: 00e,
    color: #00eed1
  ),
  (
    group: search,
    id: 989,
    color: #989ea7
  ),
  (
    group: search,
    id: cbd,
    color: #CBD1DA
  );
